@model Task2_CarOwners.Models.Owner
@{
    ViewBag.Title = "AddCar";
}

<h2>Add Car for @Model.FirstName @Model.LastName</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.DropDownList("cars", (List<SelectListItem>)ViewData["cars"])
    @Html.Hidden("carId", 1)
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Add" class="btn btn-default" />
    </div>
}

