@model Task2_CarOwners.Models.Owner
@{
    ViewBag.Title = "AddCar";
}
@if (((List<SelectListItem>) ViewData["cars"]).Count == 0)
{
    <h2>There are no available cars for @Model.FirstName @Model.LastName</h2>
}
else
{
    <h2>Add Car for @Model.FirstName @Model.LastName</h2>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.DropDownList("carId", (List<SelectListItem>)ViewData["cars"])
        <input type="submit" value="Add" class="btn btn-default" />
    }
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>